a.nav-link {
    color: black;
}

.container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 30px;
    padding-left: 125px;
}

.footer-content {
    padding: 20px;
    overflow: hidden;
    background-color: #f8f9fa!important
}

.footer-content img {
    margin-right: 15px;
    float: left;
}

.footer-content h7,
.footer-content p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}